{#
/**
 * @file
 * Default theme implementation to display a block.
 *  You can copy and use this template in project theme to customize.
 *
 * Below stock values availabe in stock variable.
 *  NSECode
 *  TodayOpen
 *  TodayHigh
 *  TodayLow
 *  TodayClose
 *  ltp
 *  dayChange
 *  dayChangePerc
 *  volume
 *  totalBuyQty
 *  totalSellQty
 *
 */
#}
{% set stock = items.response %}
<div class="nse-stock-information-section">
  {% if items.status == "Success" %}
    <div class="nse-stock-info" data-autorefresh="{{ items.refresh }}" data-nsecode="{{ items.nsecode }}"
         data-date_time_format="{{ items.date_time_format }}">
      <div class="nse-stock-code">{{ "NSE Code"|t }}: {{ stock.NSECode }}</div>
      <div class="stock-updated-time">{{ "Updated Time"|t }}: {{ items.time }}</div>
      <h4 class="stock-price">{{ "Stock Price"|t }}: {{ stock.ltp|number_format(2,".","","") }}</h4>
      <div class="stock-day-change">{{ "Day Change"|t }}: {{ stock.dayChange }}</div>
      <div class="stock-day-change-percentage">{{ "Day Change Percentage"|t }}: {{ stock.dayChangePerc }}%</div>
    </div>
  {% else %}
    <div class="nse-api-error error">{{ "Error in API call. Please check API key and NSE code."|t }}</div>
  {% endif %}
</div>
